{% extends "__layout.twig" %}

{% block content %}
	<div>{{ description }}</div>
	<ul class="nav nav-pills py-2">
		<li class="nav-item">
			<a class="nav-link {{ is_image ? 'active' }}" href="?show=image">Картинка</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{ is_info ? 'active' }}" href="?show=info">Описание</a>
		</li>
	</ul>
	<div class="border p-4">
		{% block objectContent %}

		{% endblock %}
	</div>
{% endblock %}