{% extends "__object.twig" %}

{% block objectContent %}
	<div>
		«Хеллсинг», таинственная организация правительства Британии, вот уже<br>
        несколько веков хранит покой людей, защищая их от существ ночи. Нынешняя<br>
        глава организации, Интегра Фэйрбрук Уингейтс Хеллсинг руководит своей<br>
        персональной армией, уничтожающей нежить. Но даже её самые умелые бойцы<br>
        меркнут на фоне главного истребителя вампиров — Алукарда, который на самом<br>
        деле является могущественным вампиром. Вместе с загадочным дворецким<br>
        Интегры, Уолтером К. Дорнезом, и новой подчинённой Алукарда, Викторией Серас,<br>
        организация «Хеллсинг» не только сдерживает натиск вампиров, упырей и<br>
        некромантов, но и постоянно соперничает с секретным отделением Ватикана, а<br>
        также противостоит «Милленниуму», таинственной группе бывших военных и учёных<br>
        нацистской Германии, объединившихся во время войны полвека назад.
	</div>
{% endblock %}
