{% extends "__object.twig" %}

{% block objectContent %}
	<div>
		Сняв в Акихабаре квартиру, самопровозглашённый сумасшедший учёный<br>
        Окабэ Ринтаро устроил там «лабораторию» и в компании своей подруги<br>
        детства Сины Маюри и хакера-отаку Хасиды Итару изобретает «гаджеты будущего».<br>
        Троица отлично проводит время вместе, работая над совместным проектом — <br>
        «мобиловолновкой», которой можно управлять с помощью текстовых сообщений.<br>
        Вскоре «сотрудники лаборатории» сталкиваются с чередой загадочных инцидентов,<br>
        которые приводят к открытию, изменившему правила игры: «мобиловолновка»<br>
        может отправлять электронные письма в прошлое и таким образом изменять историю.
	</div>
{% endblock %}
